/* ----- TAG RIUTILIZZABILI ----- */

.seconda-sezione-main div,section{
   border: solid 1px black;
}



/* ----- TAG SPECIFICI ----- */
/* ----- HEADER ----- */


header{
   height: 60px;
}

header div{
}

/* ----- MAIN ----- */


.seconda-sezione-main{
   background-color: antiquewhite;
}

.container-small{
   background-color: tomato;
}

.colonne{
   background-color: coral;
}

.colonne{
   background-color: violet;
}
















/* ----- FOOTER ----- */
