/* ----- TAG RIUTILIZZABILI ----- */

div,header,section{
   border: solid 1px black;
}



/* ----- TAG SPECIFICI ----- */
/* ----- HEADER ----- */


header{
   background-color: yellow;
   height: 60px;
}

header div{
   background-color: green;
}

/* ----- MAIN ----- */

.container-big{
   height: 600px;
   background-color: aqua;
}

.seconda-sezione-main{
   background-color: antiquewhite;
}

.container-small{
   background-color: tomato;
}

.colonne{
   background-color: coral;
}

.colonne{
   background-color: violet;
}















/* ----- FOOTER ----- */
