/* ----- TAG RIUTILIZZABILI ----- */

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}

.layout-width{
   max-width: 1170px;
   margin: 0 auto;
}

.flex-center{
   display: flex;
   justify-content: center;
   align-items: center;
}

.button-blu{
   padding: 10px;
   background-color: #0061FF;
   color: white;
   display: inline-block;
}

.button-white{
   padding: 10px;
   border: solid 1px black;
   display: inline-block;
}

.button-white a{
   color: black;
}

a{
   text-decoration: none;
}

h2{
   font-size: 40px;
}

h3{
   font-size: 30px;
}

h5{
   font-size: 20px;
}




/* ----- TAG SPECIFICI ----- */
/* ----- HEADER ----- */

header{
   position: fixed;
   width: 100%;
   height: 60px;
   top: 0;
   left: 0;
   z-index: 5;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: white;
}

.ul-nav{
   display: flex;
   align-items: center;
   list-style: none;
   margin: 0 10px;
}

.ul-nav a{
   padding: 0 20px;
   color: black;
}

.button-blu a{
   color:white;
   padding: 5px;
}

/* ----- MAIN ----- */
/* ----- PRIMA SEZIONE ----- */


.prima-sezione-main,.sesta-sezione-main{
   background-color: #B4D0E7;
}

.container-big{
   width: 70vw;
   margin: 60px auto 0;
}

h1{
   font-size: 84px;
   margin: 40px 0;
   font-weight: 800;
}

.prima-sezione-main .testo-img{
   display: flex;
   height: 375px;
}

.prima-sezione-main .didascalia{
   width: 55%;
   display: inline-block;
}

.testo-img .button-blu{
   margin: 20px 0;
}

#annulla{
   margin: 20px 0 40px;
}

.fa-arrow-down{
   font-size: 60px;
   color: black;
}

.immagine{
   display: inline-block;
}

.immagine img{
   width: 83%;
}

/* ----- SECONDA SEZIONE ----- */

.seconda-sezione-main{
   margin: 90px 0;
}

.container-small{
   width: 60vw;
   margin: auto;
}

.seconda-sezione-main h2{
   margin: 50px 0;
}

.selettori{
   margin: 40px 0;
}

.colonne{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.colonna{
   width: calc(100% / 3 - 30px);
}

.intestazione-colonna{
   text-align: center;
   padding: 10px;
}

.corpo-colonna{
   padding: 25px;
}

.color-gray{
   color: gray;
}








.fa-check{
   color: #0061FF;
}

/* ----- TERZA SEZIONE ----- */

.terza-sezione-main .testo-img{
   display: flex;
   align-content: flex-start;
   margin: 100px 0 130px;
}

.terza-sezione-main .didascalia{
   padding: 80px 40px;
   width: 35%;
}

.terza-sezione-main img{
   width: 68%;
}

.terza-sezione-main .button-white{
   margin-top: 30px;
}

/* ----- QUARTA SEZIONE ----- */

.colonna{
   padding: 0 0 30px;
}

.colonna img{
   width: 100%;
}





/* ----- QUINTA SEZIONE ----- */

.quinta-sezione-main{
   width: 100vw;
   height: calc(100vw / 3);
   display: flex;
}

.contenitore-sx,.contenitore-dx,.contenitore-centrale{
   display: flex;
   flex-wrap: wrap;
   width: calc(100% / 3);
}

.sponsor{
  height: 50%;
  width: 50%;
}

/* ----- SESTA SEZIONE ----- */

.sesta-sezione-main .container-small{
   display: flex;
   justify-content: space-between;
   margin: 100px auto;
}

.sesta-sezione-main h2{
   width: 42%;
}

.sesta-sezione-main .button-white{
   height: 45px;
   width: 260px;
}


/* ----- SETTIMA SEZIONE ----- */

.FAQ{
   line-height: 70px;
   display: flex;
   justify-content: space-between;
}




/* ----- FOOTER ----- */

footer{
   background-color: black;
}

.footer-top{
   display: flex;
}

.lista{
   list-style: none;
   width: calc(100% / 6);
}

footer a{
   color: white;
}

.primo{
   color: white;
   font-size: 20px;
   font-weight: 700;
}